/* Variables */

:root {
  --basic-red: #EE3643;
  --hover-red:#CA2C37;
  --error:#BA2732;
  --basic-green: #63A63E;
  --green-action:#518534;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-extra-light: #f8f5f2;
  --basic-background: #F1F5F7;
  --white:#ffffff;
  --white-opacity: rgba(255, 255, 255, 0.5);
  --black:#000000;
  --black-opacity:  rgba(0, 0, 0, 0.15);
  --black-opasity2:  rgba(0, 0, 0, 0.25);
  --special-yellow:#FFBF47;
  --special-yellowbright: #FFC047;
  --special-blue:#3BBCE3;
  --special-lilac:#DC91D8;
  --special-greenlight:#8ED78F;
  --special-yellowlight:#FFD180;
  --success:#5FBB2D;
  --grey-light:#EAEAEA;
  --grey-action:#1D2739;
  --grey-dark:#32425C;
  --grey-deepdark:#293449;
  --grey-strong:#161D29;
  --light-grey: #A9A9A9;
  --white-cream: #F3F7F9;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: black;
  background-color: var(--basic-background);
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.main-header {
  /* margin-bottom: 70px; */
  /* outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px; */
}
.main-header-logo {
  /* outline: 5px solid rgba(224, 240, 6, 0.87);
  outline-offset: -5px; */
}

.top-panel-wrapper {
  width: 940px;
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  margin: 0 auto;
  /* padding: 0 10px; */
}
.container {
  width: 940px;
  margin: 0 auto;
  /* padding: 0 10px; */
}
.products-item {
  /* margin-bottom: 80px; */
}
.products-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:
  "material instrument technics"
  "slider slider sale"
  "slider slider shipping";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  grid-gap: 20px;
  /* min-height: 100vh; */
  margin-bottom: 180px;
}
.material {

  grid-area: material;
}
.instrument {

  grid-area: instrument;
}
.technics {

  grid-area: technics;
}
.sale {

  grid-area: sale;
}
.shipping {

  grid-area: shipping;
}
.slider-collection {
  outline: 5px solid rgba(224, 240, 6, 0.87);
  grid-area: slider;
}
.slider-list,
.slider-item h3,
.slider-item p,
.services-names-list,
.services-description-list {
  margin: 0;
  padding: 0;
}

.popular-products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
.popular-fabric-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
.services-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 80px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
/* Header */

/* Main navigation */

.main-navigation,
.footer-navigation-top,
.footer-navigation-bottom {
  color: var(--white);
  background-color: var(--grey-dark);
}

.site-navigation a,
.footer-navigation-top a {
  color: var(--white);
}

.footer-navigation-bottom a,
.create a,
.mailto {
  color: var(--special-yellowlight);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--grey-deepdark);
}
.top-panel {
  background-color: var(--grey-deepdark);
}

.top-panel a {
  color: var(--white);
}

.order {
  background-color: var(--basic-green);
}

.phone {
  color: var(--basic-red);
}

.bottom-panel-title {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.address {
  font-size: 14px;
}

.registration-item a {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
}

/* Main */

.products-list,
.slider-list {
  list-style: none;
}

.products-list h3 {
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.products-item:nth-of-type(1) {
  background-color: var(--special-yellow);
}
.products-item:nth-of-type(2) {
  background-color: var(--special-blue);
}
.products-item:nth-of-type(3) {
  background-color: var(--special-lilac);
}
.products-item:nth-of-type(4) {
  background-color: var(--special-greenlight);
}
.products-item:nth-of-type(5) {
  background-color: var(--special-yellowbright);
}

.products-item a {
  background: var(--white);
  mix-blend-mode: normal;
  opacity: 0.3;
  /* color: var(--white); */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.slider-item h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
  background: var(--black-opasity2);
}

.slider-item p {
  color: var(--white);
  background: var(--black-opasity2);
}

.popular-products h2,
.perforators h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--grey-dark);
  text-transform: uppercase;
}

.site-navigation,
.footer-navigation-list,
.social-list,
.footer-contacts-list,
.registration-list,
.popular-products-list,
.popular-fabric-list,
.services-names-list,
.services-description-list,
.information-about-list,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.popular-products-item h3 {
font-family: "PT Sans",Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: var(--black);
}

.popular-products-item s {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--light-grey);
}

.popular-products-item .price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.popular-fabric h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--grey-dark);
}

.services h2,
.details h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.services-message,
.details-message {
  font-family: "PT Sans",Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.services-button {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--grey-dark);
  color: var(--white);
}

.service {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--grey-dark);
}

.service-description {
  font-family: "PT Sans",Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

/* Contacts*/

.information-about h3,
.information-contacts h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
}

.information-about p,
.information-contacts p {
  font-family: "PT Sans",Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
}

.information-about-item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
}

.footer-contacts {
  color: var(--white-cream);
  background-color: var(--grey-dark);
}

.footer-copy,
.social-button,
.email,
.create {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--grey-deepdark);
}

.mailto {
  background-color: var(--grey-deepdark);
  font-style: normal;
}
 /* Buttons */

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.button:hover {
  background-color: var(--hover-red);
}

.button:action {
  background-color: var(--error);
}


.login-button:hover,
.footer-url:focus,
.footer-url:active,
.mailto:focus,
.mailto:active {
  color: var(--basic-red);
}

.login-button:focus,
.login-button-active {
  color: var(--basic-greylight);
}

.site-navigation-button:hover,
.services-button:hover {
  background-color: var(--grey-deepdark);
}

.site-navigation-button:focus,
.site-navigation-button:active {
  background-color: var(--grey-action);
  opacity: 0.5;
}

.products-button:hover {
  background-color: var(--basic-greylight);
}

.products-button:focus,
.products-button:action {
  background-color: var(--light-grey);
}

.products-buy-button {
  background-color: var(--basic-green);
}

.products-buy-button:hover {
  background-color: var(--success);
}

.products-buy-button:action,
.products-buy-button:focus {
  background-color: var(--green-action);
}

.products-fav-button {
  color:var(--grey-dark);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
}

.products-fav-button:hover {
  border: 3px solid var(--grey-dark);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
}

.products-fav-button:focus,
.products-fav-button:action {
  border: 3px solid var(--grey-dark);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: var(--white);
  opacity: 0.5;
  /* не срабатывает прозрачность,не пойму,где ошибка? */
}

.footer-navigation-button:hover,
.mailto:hover,
.footer-url:hover {
  text-decoration-line: underline;
}

.footer-navigation-button:focus,
.footer-navigation-button:active {
  mix-blend-mode: normal;
  opacity: 0.5;
}

.services-button:focus {
  background-color: var(--white);
  color: var(--grey-dark);
}

.fabric-button:hover {
  filter: drop-shadow(0px 4px 20px var(--black-opacity));
}

.fabric-button:focus,
.fabric-button:active {
  opacity: 0.5;
  filter: drop-shadow(0px 4px 20px var(--black-opacity));
}

.order:hover {
background-color: var(--success);
}

.order:focus,
.order:active {
  background-color: var(--basic-green);
  color: var(--white-opacity);
}

.favorite:focus,
.favorite:active,
.cart:focus,
.cart:active {
  background-color: var(--grey-strong);
  color: var(--white-opacity);
}

/* Catalog-page */

.breadcrumbs li,
.pagination-item a {
  font-family: "PT Sans",Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
}

.pagination-item-current a {
  color: var(--white);
  background-color: var(--basic-red);
}

/* Modal pages */

/* Modal-cart */

.modal-cart p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.button-next {
  color: var(--black);
  background-color: var(--white);
}
